{% extends "pages/header.twig" %}

{% block content %}
<!DOCTYPE html>
    <div class="title-header">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
                <h2 id="center">Connection praticien</h2>
            </div>
        </div>
    </div>
    <form action="" method='post'>
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3 offset-md-1 offset-sm-1">
				<p id="right">Nom :</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-2">
				<input type="text" name="nom" maxlength="250">
			</div>
		</div>
        <div class="row">
			<div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3 offset-md-1 offset-sm-1">
				<p id="right">Prenom :</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-2">
				<input type="text" name="prenom" maxlength="250">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3 offset-md-1 offset-sm-1">
				<p id="right">Code PIN :</p>
			</div>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input type="text" name="pin" maxlength="250">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-md-10 col-lg-4 offset-lg-5 offset-md-1 offset-sm-1">
				<input id="center" class="btn btn-outline-success" type="submit" name="log" value="Connexion">
			</div>
		</div>
	</form>

{% endblock %}