{% extends "pages/slheader.twig" %}

{% block content %}

<div class="descrip-med">
    <form action="" method="">
        <div class="row">
        {% for nom in gene %}
            <div class="col-xs-4 col-md-5 col-lg-3 offset-lg-1 offset-md-1">
                <img class="taille-img-med" id="center" src="../css/images/med-piblule_tablette.jpg"/>
            </div>
            <div class="col-xs-3 col-md-2 col-lg-3">
                <p> Nom du médicament : {{nom.MED_NOMCOMMERCIAL}}</p>
                <p> Composition : {{nom.MED_COMPOSITION}}</p>
                <p> Effets : {{nom.MED_EFFETS}}</p>
                <p> Contre indication : {{nom.MED_CONTREINDIC}}</p>
            </div>
        {% endfor %}
            <div class="col-xs-3 col-md-2 col-lg-2 offset-lg-1">
                <div class="row">
                    <div class="col">
                        {% for stock in nbstock %}
                            <p>Quantité disponible : {{stock.nb_stock}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for prx in prixht %}
                            <p>Prix HT  : {{prx.prix_medHT}} €</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for stock in nbstock %}
                            <p>Quantité : </p><input id="des-qt" type="number" step="1" min="1" max="{{stock.nb_stock}}" name="qtdispo">
                            <input type="hidden" value="{{stock.id_med}}" name="idmed">
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="btn btn-outline-success" type="submit" name="update" value="Ajouter au panier">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
