{% extends "pages/header.twig" %}

{% block content %}

<div class="title-header">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
            <h2 id="center">Gestion des médicaments</h2>
        </div>
    </div>
</div>

<form action="/sreach" method="get">
    <div class="row padding-med margin-bottom">
        <div id="center" class="col-sm-4 col-md-1 col-lg-2 offset-lg-5">
            <select class="form-control" name="sreachmed">
                <option value="1">Rechercher</option>
                {% for nom_med in all %}
                    <option value="{{nom_med.id_med}}">{{nom_med.MED_NOMCOMMERCIAL}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-10 col-md-1 col-lg-1">
            
            <input class="btn btn-outline-success" type="submit" value="ok">
        </div>
    </div>
</form>

{% endblock %}
