{% extends "pages/header.twig" %}

{% block content %}
<div class="row padding-med">
    {% for nom_med in name %}
    <div id="center" class="col-sm-6 col-md-4 col-lg-2">
        <div class="gile-andre">
            <form method="post" action="">
            <a href="{{path_for('description-medicament',{'id':nom_med.id_med})}}">
                <img class="taille-img-med" src="css/images/med-piblule_tablette.jpg"/>
                <p>{{nom_med.MED_NOMCOMMERCIAL}}</p>
            </a>
                    <div class="col"> 
                        {% for stock in nbstock %}
                            {% if stock.id_med == nom_med.id_med %}
                            <p>Quantité disponible : {{stock.nb_stock}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col">
                        {% for prx in prixht %}
                            {% if prx.id_med == nom_med.id_med %}
                                <p>Prix HT  : {{prx.prix_medHT}} €</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                <input class="btn btn-outline-success" type="submit" name="log" value="Ajouter au panier">
            </from>
        </div>
    </div>    
    {% endfor %}
</div>


{% endblock %}