
<!-- formulaire gestion medocs -->

<form action="{{path_for('gestion_medicaments')}}" method="post">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-2 offset-md-1 offset-lg-2">
            <p>Nom légale du médicaments </p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2">
            <input type="text" required name="namemed">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <p>Prix HT </p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="number" step="0.01" required name="prixht">
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-2">
                <input id="center" class="btn btn-outline-success" type="submit" name="ajout" value="Ajouter">
            </div>
        </div>
    </div>
</form>


        <div class="col-sm-4 col-md-2 col-lg-2">
            <p>Nom légale du médicaments </p>
        </div>
        <div class="col-sm-4 col-md-1 col-lg-1">
            <input type="text" required name="namemed">
        </div>
        <div class="col-sm-4 col-md-2 col-lg-1">
            <p>Code Famille </p>
        </div>
        <div class="col-sm-4 col-md-1 col-lg-1">
            <input type="text" required name="famcode">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <p>Médicament Composition</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <input type="text" required name="medcomp">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <p>Effets médicaments </p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <input type="text" required name="effetmed">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <p>Contreindication</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <input type="text" required name="contmed">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <p>Prix HT </p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1">
            <input type="number" step="0.01" required name="prixht">
        </div>

<div class="">

</div>