
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>GSB</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</head>
<body>
    <div class="allhead">
        <div class="first-head">
            <div class="row">
                <div id="center" class="col-sm-4 col-md-4 col-lg-2 offset-lg-1">
                    <img id="timg-head" src="../css/images/microscope.png" />
                </div>
                <div class="col-sm-4 col-md-4 col-lg-6">
                    <a id="center" href="/"><h1>GSB</h1></a>
                </div>
                <div id="center" class="col-sm-4 col-md-4 col-lg-2">
                    <img id="timg-head" src="../css/images/apothecary.png" />
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="nav navbar-nav">
                        <li><a href="{{path_for('medicaments')}}"> Medicaments </a></li>
                    </div>
                    <div class="nav navbar-nav">
                        <li><a href="{{path_for('gestion_medicaments')}}">Gestion des Medicaments </a></li>
                    </div>
                    <div class="nav navbar-nav">
                        <li><a href="{{path_for('connection')}}"> Connection </a></li>
                    </div>
                    <div class="nav navbar-nav">
                        <li><a href="{{path_for('panier')}}">Panier </a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu">
        {% block content %}
        
        {% endblock %}
        {% block sreach %}

        {% endblock %}
    </div>

</body>
</html>