{% extends "pages/gestion-medicaments.twig" %}

{% block sreach %}

<form action="/gestion-medicaments" method="post">
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-2 col-lg-2 offset-lg-3">
            <p>Dépot légal</p>
        </div>
        <div class="col-sm-4 col-md-1 col-lg-1">
            <input type="text" value="{{detail.MED_DEPOTLEGAL}}" required name="meddplegal">
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-2 col-lg-2 offset-lg-3">
            <p>Nom commercial</p>
        </div>
        <div class="col-sm-4 col-md-1 col-lg-1">
            <input type="text" value="{{detail.MED_NOMCOMMERCIAL}}" required name="namemed">
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-2 col-lg-1 offset-lg-4">
            <p>Code Famille </p>
        </div>
        <div class="col-sm-4 col-md-1 col-lg-1">
            <input type="text" value="{{detail.FAM_CODE}}" required name="famcode">
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3">
            <p>Composition</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <input type="text" value="{{detail.MED_COMPOSITION}}" required name="medcomp">
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3">
            <p>Effets</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <textarea name="effet" rows="7" cols="50">
            {{detail.MED_EFFETS}}
            </textarea>
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3">
            <p>Contreindication</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-1">
            <textarea name="contreind" rows="7" cols="50">
            {{detail.MED_CONTREINDIC}}
            </textarea>
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-4 col-lg-1 offset-lg-4">
            <p>Prix HT </p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1">
            <input type="number" step="0.01" min="0.01" value="{{prixht.prix_medHT}}" name="prixht">
        </div>
    </div>
    <div class="row padding-med" id="right">
        <div class="col-sm-4 col-md-4 col-lg-2 offset-lg-3">
            <p>Quantité Disponible</p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1">
            <input type="number" step="1" min="0" value="{{nbstock.nb_stock}}" name="qtdispo">
        </div>
    </div>
    <div class="row padding-med" id="center">
        <div class="col-sm-10 col-md-1 col-lg-2 offset-lg-5">
            <input type="hidden" value="{{detail.id_med}}" name="idmed">
            <input class="btn btn-outline-success" type="submit" name="update" value="Mettre à jour">
        </div>
    </div>
</form>

{% endblock %}